node_modules/
.expo/
npm-debug.log
yarn-error.log

# Env
.env
.env.*
# android/
# ios/

# Build directories
build/
android/app/build/
android/build/
ios/build/

# Heavy files
*.mp4
*.mov
*.zip
*.tar.gz
*.apk
*.aab
